* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 35%;
  color: #ccc;
  background: transparent;
  border: none;
  box-shadow: 0 0 3px 1px darkgoldenrod;
  border-radius: 15px;
  line-height: 1.2rem;
}

button{
  width: 35%;
  font-size: 1.2rem;
  padding: 1rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-color: darkgoldenrod;
  border: none;
  text-shadow: 0 0 1px;
}

h2 {
  margin: 2rem 0;
  margin-left: -42%;
  text-align: left;
}

table {

  border-collapse: collapse;
  width: 70%;
}

table thead {
  background: salmon;
  color: #333;
}

table td {
  padding: 1rem;
}

table tr {
  border-bottom: .5px solid rgba(250,250,250,.1);
}

